<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{199,199}</string>
                <key>textureRect</key>
                <string>{{527,1657},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HPBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{324,1648},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backToMenuButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,44}</string>
                <key>spriteSourceSize</key>
                <string>{214,44}</string>
                <key>textureRect</key>
                <string>{{1587,1133},{214,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigBomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,219}</string>
                <key>spriteSourceSize</key>
                <string>{112,219}</string>
                <key>textureRect</key>
                <string>{{1674,229},{112,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigBombGet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,95}</string>
                <key>spriteSourceSize</key>
                <string>{121,95}</string>
                <key>textureRect</key>
                <string>{{1708,1243},{121,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{2,1648},{180,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bossWarning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,148}</string>
                <key>spriteSourceSize</key>
                <string>{225,148}</string>
                <key>textureRect</key>
                <string>{{1674,2},{225,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,85}</string>
                <key>spriteSourceSize</key>
                <string>{34,85}</string>
                <key>textureRect</key>
                <string>{{1788,229},{34,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,107}</string>
                <key>spriteSourceSize</key>
                <string>{50,107}</string>
                <key>textureRect</key>
                <string>{{1587,1639},{50,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,112}</string>
                <key>spriteSourceSize</key>
                <string>{65,112}</string>
                <key>textureRect</key>
                <string>{{175,1830},{65,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulletLevelUp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,28}</string>
                <key>spriteSourceSize</key>
                <string>{122,28}</string>
                <key>textureRect</key>
                <string>{{1788,316},{122,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulletLevelUp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,28}</string>
                <key>spriteSourceSize</key>
                <string>{122,28}</string>
                <key>textureRect</key>
                <string>{{728,1834},{122,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletUpgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1082,1817},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,120}</string>
                <key>spriteSourceSize</key>
                <string>{158,120}</string>
                <key>textureRect</key>
                <string>{{1082,1657},{158,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,134}</string>
                <key>spriteSourceSize</key>
                <string>{179,134}</string>
                <key>textureRect</key>
                <string>{{1674,450},{177,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,145}</string>
                <key>spriteSourceSize</key>
                <string>{73,145}</string>
                <key>textureRect</key>
                <string>{{1633,1243},{73,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyBoss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,369}</string>
                <key>spriteSourceSize</key>
                <string>{570,369}</string>
                <key>textureRect</key>
                <string>{{1088,762},{570,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyBossBroken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,369}</string>
                <key>spriteSourceSize</key>
                <string>{570,369}</string>
                <key>textureRect</key>
                <string>{{644,1286},{570,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyBossBrokenMore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,369}</string>
                <key>spriteSourceSize</key>
                <string>{570,369}</string>
                <key>textureRect</key>
                <string>{{1216,1133},{570,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemyBulletSet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{1151,1133},{61,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{1151,1196},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1696,1622},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1674,629},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1660,772},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1660,929},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1204,1705},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1361,1705},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1518,1705},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1660,1086},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getBigBomb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,30}</string>
                <key>spriteSourceSize</key>
                <string>{107,30}</string>
                <key>textureRect</key>
                <string>{{852,1834},{107,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getBigBomb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{105,30}</string>
                <key>spriteSourceSize</key>
                <string>{107,30}</string>
                <key>textureRect</key>
                <string>{{961,1834},{105,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{2,2},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{2,644},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{364,2},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{364,644},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{2,1286},{360,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_bg_welcome.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{726,2},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>launchButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{728,1657},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>launchButtonUnable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{905,1657},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1633,1390},{100,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,378}</string>
                <key>spriteSourceSize</key>
                <string>{584,378}</string>
                <key>textureRect</key>
                <string>{{1088,2},{584,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,378}</string>
                <key>spriteSourceSize</key>
                <string>{584,378}</string>
                <key>textureRect</key>
                <string>{{1088,382},{584,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myPlane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,71}</string>
                <key>spriteSourceSize</key>
                <string>{91,71}</string>
                <key>textureRect</key>
                <string>{{1735,1366},{91,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>myPlane2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,97}</string>
                <key>textureRect</key>
                <string>{{1587,1522},{115,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{1675,1721},{94,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restartGameButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,44}</string>
                <key>spriteSourceSize</key>
                <string>{171,44}</string>
                <key>textureRect</key>
                <string>{{2,1830},{171,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectSceneBackground.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{726,644},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectStartButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{151,61}</string>
                <key>spriteSourceSize</key>
                <string>{161,67}</string>
                <key>textureRect</key>
                <string>{{1088,1133},{151,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{1686,1508},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startGameButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,44}</string>
                <key>spriteSourceSize</key>
                <string>{171,44}</string>
                <key>textureRect</key>
                <string>{{1587,1349},{171,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1824,1898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85f99cc170319fb61e0d365081c69bc9:7152fb6dadfff4c6d5ead4b34849d52b:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
