<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backToMenuButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,44}</string>
                <key>spriteSourceSize</key>
                <string>{214,44}</string>
                <key>textureRect</key>
                <string>{{0,44},{214,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigBomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,219}</string>
                <key>spriteSourceSize</key>
                <string>{112,219}</string>
                <key>textureRect</key>
                <string>{{970,296},{112,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigBombGet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,95}</string>
                <key>spriteSourceSize</key>
                <string>{121,95}</string>
                <key>textureRect</key>
                <string>{{1493,44},{121,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1082,296},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossWarning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,148}</string>
                <key>spriteSourceSize</key>
                <string>{225,148}</string>
                <key>textureRect</key>
                <string>{{1247,141},{225,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,85}</string>
                <key>spriteSourceSize</key>
                <string>{34,85}</string>
                <key>textureRect</key>
                <string>{{1459,44},{34,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,107}</string>
                <key>spriteSourceSize</key>
                <string>{50,107}</string>
                <key>textureRect</key>
                <string>{{97,141},{50,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,112}</string>
                <key>spriteSourceSize</key>
                <string>{65,112}</string>
                <key>textureRect</key>
                <string>{{247,141},{65,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletLevelUp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,28}</string>
                <key>spriteSourceSize</key>
                <string>{122,28}</string>
                <key>textureRect</key>
                <string>{{972,0},{122,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletLevelUp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,28}</string>
                <key>spriteSourceSize</key>
                <string>{122,28}</string>
                <key>textureRect</key>
                <string>{{850,0},{122,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulletUpgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1380,44},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,120}</string>
                <key>spriteSourceSize</key>
                <string>{158,120}</string>
                <key>textureRect</key>
                <string>{{312,141},{158,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,134}</string>
                <key>spriteSourceSize</key>
                <string>{179,134}</string>
                <key>textureRect</key>
                <string>{{854,141},{179,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,145}</string>
                <key>spriteSourceSize</key>
                <string>{73,145}</string>
                <key>textureRect</key>
                <string>{{1174,141},{73,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyBoss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,369}</string>
                <key>spriteSourceSize</key>
                <string>{570,369}</string>
                <key>textureRect</key>
                <string>{{1262,296},{570,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyBossBroken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,369}</string>
                <key>spriteSourceSize</key>
                <string>{570,369}</string>
                <key>textureRect</key>
                <string>{{0,665},{570,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyBossBrokenMore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,369}</string>
                <key>spriteSourceSize</key>
                <string>{570,369}</string>
                <key>textureRect</key>
                <string>{{570,665},{570,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemyBulletSet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{1067,44},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{214,44},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{0,141},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1033,141},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1472,141},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{310,296},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1627,141},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{0,296},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{465,296},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{155,296},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getBigBomb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,30}</string>
                <key>spriteSourceSize</key>
                <string>{107,30}</string>
                <key>textureRect</key>
                <string>{{1094,0},{107,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getBigBomb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,30}</string>
                <key>spriteSourceSize</key>
                <string>{107,30}</string>
                <key>textureRect</key>
                <string>{{1201,0},{107,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{1080,1305},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{1440,1305},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{360,1305},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{1500,665},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{0,1305},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_welcome.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{1140,665},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>launchButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{620,296},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>launchButtonUnable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{795,296},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,24}</string>
                <key>spriteSourceSize</key>
                <string>{350,24}</string>
                <key>textureRect</key>
                <string>{{500,0},{350,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{726,141},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myPlane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,71}</string>
                <key>spriteSourceSize</key>
                <string>{91,71}</string>
                <key>textureRect</key>
                <string>{{1289,44},{91,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myPlane2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,97}</string>
                <key>textureRect</key>
                <string>{{1614,44},{115,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{470,141},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{1729,44},{100,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeHP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,60}</string>
                <key>spriteSourceSize</key>
                <string>{800,60}</string>
                <key>textureRect</key>
                <string>{{267,44},{800,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{598,141},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restartGameButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,44}</string>
                <key>spriteSourceSize</key>
                <string>{171,44}</string>
                <key>textureRect</key>
                <string>{{1308,0},{171,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectSceneBackground.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,640}</string>
                <key>spriteSourceSize</key>
                <string>{360,640}</string>
                <key>textureRect</key>
                <string>{{720,1305},{360,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectStartButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,67}</string>
                <key>spriteSourceSize</key>
                <string>{161,67}</string>
                <key>textureRect</key>
                <string>{{1128,44},{161,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,13}</string>
                <key>spriteSourceSize</key>
                <string>{250,13}</string>
                <key>textureRect</key>
                <string>{{250,0},{250,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderTrack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,13}</string>
                <key>spriteSourceSize</key>
                <string>{250,13}</string>
                <key>textureRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{147,141},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startGameButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,44}</string>
                <key>spriteSourceSize</key>
                <string>{171,44}</string>
                <key>textureRect</key>
                <string>{{1479,0},{171,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1860,1945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd44b9395f5526cb374cc9d2fb9da314:538342133bfa9448d66befdff3c9bf96:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
